---
title: Новости
---
{% set
breadcrumbs = [
    {
        link: 'Главная',
        spans: true,
        span: 'Новосты'
    }
]
%}
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{# variable example #}
	{# <h1>{{title}}</h1> #}

	
	{# partial example #}
	<div class="wrap-bg">
		{% include "partials/_header.html" %}
		{% include "partials/_page-header.html" %}
		{% include "partials/_news.html" %}
		{% include "partials/_footer.html" %}
	</div>
	
	{% include "partials/_popaps.html" %}
	{# mixin example #}
	{# {{mixins.icon('facebook')}} #}
	{# data usage example #}
		{# {% import "data/data.html" as tests %}
		
		{% for test in tests.list %}
		<li>{{test.title}}</li>
		{% endfor %} #}
	{# end of example #}

{% endblock %}
