<!-- begin direction-content -->
<div class="direction-content">
	<!-- begin direction-content__what -->
	<div class="direction-content__what what">
		<div class="what__drop drop">
			<div class="drop__wrap" data-drop-height='130'>
				<div class="drop__inner">
					<div class="drop__title">
						<h3 class="h3">Что это такое?</h3>
					</div>
					<div class="drop__col">
						<p>
							Закрыв глаза, чтобы не видеть своих барахтающихся ног, он проделал это добрую сотню раз и отказался от этих попыток только тогда, когда почувствовал какую-то неведомую дотоле, тупую и слабую боль в боку. Изо дня в день в разъездах. Деловых волнений куда больше, чем на месте, в торговом доме, а кроме того, изволь терпеть тяготы дороги, думай о расписании поездов, мирись с плохим, нерегулярным питанием, завязывай.
						</p>
						<p>
							Черт бы побрал все это! » Он почувствовал вверху живота легкий зуд; медленно подвинулся на спине к прутьям кровати, чтобы удобнее было поднять голову; нашел зудевшее место, сплошь покрытое, как оказалось, белыми непонятными точечками; хотел было ощупать это место одной из ножек, но сразу отдернул ее, ибо даже простое прикосновение вызвало у него, Грегора, озноб. Он соскользнул в прежнее свое положение.
						</p>
					</div>
					<button class="drop__back back js-drop-back">
						<div class="drop__icon js-drop-icon">
							<img src="img/arrow-top.png" alt=""></div>

					</button>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- end direction-content__what -->
<!-- begin direction-content__slider -->
<div class="direction-content__wrap wrap">
	<div class="direction-content__slider-direction slider-direction">
		<div class="slider-direction__wrap">
			<div class="slider-direction__title">
				<h3 class="h3">Примеры внедрений</h3>
			</div>
			<div class="slider-direction__inner">
				<div class="slider-direction__prev"></div>
				<div class="slider-direction__next"></div>
				<div class="slider-direction__slides js-slider-direction">
					<div class="slider-direction__slide">
						<div class="item">
							<div class="item__img">
								<img src="img/tamozennye-uslugi.png" alt=""></div>
							<div class="item__title">
								<h4 class="h4">Перевозки для компании Global Oil Trands</h4>
							</div>
						</div>
					</div>
					<div class="slider-direction__slide">
						<div class="item">
							<div class="item__img">
								<img src="img/Layer-12.png" alt=""></div>
							<div class="item__title">
								<h4 class="h4">Перевозки для компании Global Oil Trands</h4>
							</div>
						</div>
					</div>
					<div class="slider-direction__slide">
						<div class="item">
							<div class="item__img">
								<img src="img/Layer-11.png" alt=""></div>
							<div class="item__title">
								<h4 class="h4">Перевозки для компании Global Oil Trands</h4>
							</div>
						</div>
					</div>
					<div class="slider-direction__slide">
						<div class="item">
							<div class="item__img">
								<img src="img/img_collection.png" alt=""></div>
							<div class="item__title">
								<h4 class="h4">Перевозки для компании Global Oil Trands</h4>
							</div>
						</div>
					</div>
					<div class="slider-direction__slide">
						<div class="item">
							<div class="item__img">
								<img src="img/Layer-12.png" alt=""></div>
							<div class="item__title">
								<h4 class="h4">Перевозки для компании Global Oil Trands</h4>
							</div>
						</div>
					</div>
					<div class="slider-direction__slide">
						<div class="item">
							<div class="item__img">
								<img src="img/Layer-11.png" alt=""></div>
							<div class="item__title">
								<h4 class="h4">Перевозки для компании Global Oil Trands</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="slider-direction__btn">
					<button class="btn btn_darken js-btn-slider-direction">Смотреть все решения</button>
				</div>
				<div class="slider-direction__btn-close">
					<button class="btn btn_darken btn_big js-btn-slider-direction-close">Скрыть</button>
				</div>
			</div>
		</div>

	</div>

	<!-- end  direction-content__slider -->
	<!-- begin  direction-content__user -->
	<div class="direction-content__user user">
		<div class="user__wrap">
			<div class="user__title">
				<h3 class="h3">Кто уже воспользовался</h3>
			</div>
			<div class="user__list">
				<div class="user__item">{{mixins.icon('sber_logo')}}</div>
				<a href="#" class="user__item">{{mixins.icon('latest')}}</a>
				<a href="#" class="user__item">{{mixins.icon('1280px-Gazprom-Logo-rus')}}</a>
				<a href="#" class="user__item">{{mixins.icon('2000px-Dell_Logo')}}</a>
				<a href="#" class="user__item">{{mixins.icon('alfabank')}}</a>
				<a href="#" class="user__item">{{mixins.icon('googlelogo_color_120x44dp')}}</a>
				<a href="#" class="user__item">{{mixins.icon('logo-skb-bank')}}</a>
				<a href="#" class="user__item">{{mixins.icon('apple_logo_PNG19682')}}</a>
				<a href="#" class="user__item">{{mixins.icon('MTS_logo_color_ru')}}</a>
				<a href="#" class="user__item">{{mixins.icon('intel')}}</a>
			</div>
		</div>
	</div>
</div>
<!-- end  direction-content__user -->
<!-- begin join -->
<div class="join">
	<div class="join__wrap wrap">
		<div class="join__col">
			<div class="form">
				<div class="form__field">
					<input type="text" class="input input_bg" placeholder="ФИО"></div>
				<div class="form__field">
					<input type="text" class="input input_bg" placeholder="E-mail"></div>
				<div class="form__field">
					<div class="select-form">
						<select class="js-example-basic-single bla" style="width:100%" name="state">
							<option value="AL">Выберите департамент для обращения</option>
							<option value="WY">Короткая тема номер 1</option>
							<option value="WY">Средняя тема номер  2</option>
							<option value="WY">Очень длинная тема номер 3</option>
						</select>
					</div>
				</div>
				<div class="form__field">
					<div class="select-form">
						<select class="js-example-basic-single bla" style="width:100%" name="state">
							<option value="AL">Новости по всем направлениям</option>
							<option value="WY">Мониторинг и тахография</option>
							<option value="WY">Итс</option>
							<option value="WY">Разработка ПО</option>
						</select>
					</div>
				</div>
				<div class="form__field">
					<textarea class="textarea textarea_bg" name="textarea" placeholder="Ваше сообщение" id="" cols="30" rows="6"></textarea>
				</div>
				<div class="form__field cart">
					<img src="img/robot.png" alt=""></div>
				<div class="form__submit">
					<button class="button">Отправить</button>
				</div>
			</div>
		</div>
		<div class="join__col join__col_t">
			<div class="join__title">
				<h3 class="h3">Оставьте заявку</h3>
			</div>
			<div class="join__descr">
				<p>
					Компания ГЛОСАВ признана победителем тендера на поставку и установку систем мониторинга транспорта с использованием оборудования ГЛОНАСС/GPS для филиала ОАО «Федеральная сетевая компания»(ФСК ЕЭС) «Магистральные электрические сети Центра»(МЭС Центра). Мониторинговое оборудование будет установлено на 890 транспортных средств в филиалах(ПМЭС) входящих В зону ответственности МЭС Центра: Валдайское, Верхне-Донское, Волго-Донское, Волго-Окское, Вологодское, Московское, Приокское и Черноземное.
				</p>
			</div>
		</div>
	</div>
	<!-- end join -->
</div>
<!-- end direction-content -->