<!-- begin footer -->
<div class="footer {% if footerbg %}footer-bg{% endif %}">
	<div class="footer__inner inner">
		<div class="footer__right">
			<div class="contact">
				<div class="contact__address">
					<a href="#" class="address">
						<span class="address__icon">{{mixins.icon('map')}}</span>
						<span class="address__text">Москва, Кожевнический проезд., д. 1</span>
					</a>
				</div>
				<div class="contact__mail">
					<a href="mailto:commerce@glosav.ru" class="mail">
						<span class="mail__icon">{{mixins.icon('mail')}}</span>
						<span class="mail__text">commerce@glosav.ru</span>
					</a>
				</div>
				<div class="contact__tel">
					<a href="tel:+1234567890" class="tel">
						<span class="tel__icon">{{mixins.icon('phone')}}</span>
						<span class="tel__text">+7 (495) 644 33 59</span>
					</a>
				</div>
			</div>
		</div>
		<div class="footer__left">
			<div class="copy">
				<p>ООО “Глосав”. Все права защищены</p>
			</div>
		</div>
	</div>
</div>
<!-- end footer -->