{% set
list = [
	{
		img: 'img/slider-vnedrenie1.png',
		title: 'Бортовой блок',
		descr: 'Основные функциональные узлы контроллера (GSM-терминал, GPS-приемник и т. п.) выполнены в виде отдельных модулей, которые устанавливаются на основной плате и легко заменяются. Такая компоновка дает ряд преимуществ при производстве и обслуживании контроллеров.'
	},
	{
		img: 'img/slider-vnedrenie3.png',
		title: 'Видеорегистратор',
		descr: 'Цифровой видеорегистратор BestDVR 405 Comfort-L (Mobile-SD) относится к  профессиональным видеорегистраторам класса Special в линейке BestDVR. Comfort-L (Mobile-SD) отличается небольшими габаритами и высокой степенью надежности. Испытания показали, что он отлично работает при -300С. Видеорегистратор поддерживает 4 видеокамеры и 4 микрофона одновременно. Видео выводится на монитор как с одной камеры, так с двух или четырех по выбору. BestDVR 405 Comfort-L (Mobile-SD) – отличное решение для транспортных средств, эксплуатация которых требует повышенной безопасности и контроля: инкассаторских машин, общественного транспорта, автозаков, автомобилей служб безопасности.'
	},
	{
		img: 'img/slider-vnedrenie4.png',
		title: 'Устройство «ГЛОСАВ-МАРКЕР»',
		descr: 'Портативный, автономный, миниатюрный спутниковый охранно-поисковый комплекс, предназначенный для точного определения местоположения и передачи координат владельцу.'
	},
	{
		img: 'img/slider-vnedrenie5.png',
		title: 'Бесконтактный считыватель',
		descr: 'FID – это идентификация и регистрация объектов при помощи радиочастотного канала связи. Идентификация объектов производится по уникальному коду, считываемому из памяти специализированной микросхемы –
		электронной метки.'
	},
	{
		img: 'img/slider-vnedrenie2.png',
		title: 'Спутниковое оборудование',
		descr: 'Спутниковое оборудование ГЛОНАСС/GPS является терминалами
		двухрежимной передачи данных со встроенным приемником ГЛОНАСС. Терминалы используются для сбора данных о транспортном средстве и передачи их через спутниковую или сотовую сеть. Разработанные специально для рынка телематики эти терминалы рассчитывают местонахождение объектов с помощью любой из навигационных систем без затрат и сложностей, связанных с интеграцией внешних модулей ГЛОНАСС/GPS.'
	},
	{
		img: 'img/slider-vnedrenie1.png',
		title: 'Тревожная кнопка',
		descr: 'Тревожная кнопка размещается в кабине транспортного средства со стороны водителя, предназначена для оперативного информирования водителем оператора системы мониторинга транспорта или экстренных оперативных служб о возникновении чрезвычайных ситуаций.'
	},
	{
		img: 'img/products7.png',
		title: 'Универсальный датчик механизмов',
		descr: 'Универсальный датчик механизмов применяется для контроля работы
		дополнительного специального оборудования автотранспорта (контроль работы
		автобетоносмесителя – отслеживает направление вращения миксера с бетоном, контроль положения/ работы механизмов спецтехники – плуг/отвал, щетка/средний отвал – у дорожно-уборочной техники; работа ковша – у фронтального погрузчика, экскаватора). Устойчивость к агрессивным средам (раствор серной кислоты, соль, ГСМ).'
	},
	{
		img: 'img/products8.png',
		title: 'Персональный трекер TR-206',
		descr: 'GPS трекер TR-206 - это личный спутниковый GPS трекер с функциями мобильного телефона для контроля местоположения (мониторинга) людей и мониторинга транспорта. Трекер вычисляет координаты, скорость и направление по спутниковой системе GPS и отправляет отчёты о них по каналам GPRS или SMS.'
	},
	{
		img: 'img/products9.png',
		title: 'Контроль расхода топлива: Датчик уровня топлива',
		descr: 'Для транспортных компаний проблема контроля топлива с каждым днем становится все более и более актуальной. Ведь от того, насколько грамотно организована система учета топлива, напрямую зависит конкурентоспособность и выживаемость компании на рынке. По статистике, хищение горючего на автопредприятиях – входит в первую тройку причин снижения рентабельности и увеличения расходов на содержание автопарков.'
	},
	{
		img: 'img/products10.png',
		title: 'Антивандальная цветная видеокамера',
		descr: 'Антивандальная цветная видеокамера высокого разрешения. Металлический корпус выполнен из металла с ударопрочным порошковым покрытием. Видеокамера может быть использована как внутри, так и вне помещения без дополнительных термокожухов и устройств обогрева.'
	}
]
%}
<!-- begin list-products -->
<div class="list-products">
	{% for item in list %}
	<div class="list-products__products products">
		<div class="products__wrap wrap">
			<div class="products__row">
				<div class="products__img" style="background-image: url({{item.img}})">
				 <!-- <img src="{{item.img}}" alt=""> -->
				</div>	
				<div class="products__text">
					<div class="products__title">
						<h3 class="h3">{{item.title}}</h3>
					</div>
					<div class="products__descr">
						<p>{{item.descr}}</p>
					</div>
					<div class="products__button">
						<a href="#" class="btn btn_darken">Подробнее</a>
					</div>
				</div>
			</div>		
		</div>		
	</div>
	{% endfor %}
</div>
<!-- end list-products -->
