<div class="popap">
	<div class="popap__inner">
		<div class="popap__content content">
			<div class="content__title">Вход в web-систему</div>
			<div class=" content__form form">
				<div class="form__field">
					<input type="text" class="input" name="title" placeholder="Компания"></div>
				<div class="form__field">
					<input type="text" class="input" name="text" placeholder="Логин"></div>
				<div class="form__field">
					<input type="text" class="input" placeholder="Пароль"></div>
				<div class="form__submit">
					<button class="button js-button">Войти</button>
				</div>
			</div>
			<div class="content__back">
				<div class="back js-back-close">
					<span class="back__line-top"></span>
					<span class="back__line-bottom"></span>
				</div>
			</div>
		</div>
	</div>	
</div>