	{% set
	list = [
		{	
			data: '6',
			list2: [
				{
					img: 'img/item-small5.png',
					titl: 'Монтаж'
				},
				{
					img: 'img/item-small6.png',
					titl: 'Пусконаладка'
				}
			],
			fonr: true,
			fonl: true,
			title: 'Системна интеграция',
			name: 'first'
		},
		{	
			data: '5',
			list2: [
				{
					img: 'img/item-small.png',
					titl: 'Поставка'
				},
				{
					img: 'img/item-small2.png',
					titl: 'Монтаж'
				},
				{
					img: 'img/item-small3.png',
					titl: 'Пусконаладка'
				},
				{
					img: 'img/item-small4.png',
					titl: 'Поставка'
				},
				{
					img: 'img/item-small6.png',
					titl: 'Пусконаладка'
				}
			],
			fonsmr: true,
			fonr: false,
			fonl: true,
			title: 'Видеорегистратор',
			name: 'second'
		},
		{	
			data: '4',
			list2: [
				{
					img: 'img/item-small.png',
					titl: 'Поставка'
				},
				{
					img: 'img/item-small2.png',
					titl: 'Монтаж'
				},
				{
					img: 'img/item-small3.png',
					titl: 'Пусконаладка'
				},
				{
					img: 'img/item-small5.png',
					titl: 'Монтаж'
				}
			],
			fonsmr: true,
			fonsml: true,
			fonr: false,
			fonl: false,
			title: 'Устройство «ГЛОСАВ-МАРКЕР»',
			name: 'three'

		},
		{	
			data: '3',
			list2: [
				{
					img: 'img/item-small.png',
					titl: 'Поставка'
				},
				{
					img: 'img/item-small2.png',
					titl: 'Монтаж'
				},
				{
					img: 'img/item-small3.png',
					titl: 'Пусконаладка'
				}
			],
			fonsmr: false,
			fonsml: false,
			fonr: false,
			fonl: true,
			title: 'Бесконтактный считыватель',
			name: 'four'
		},
		{	
			data: '2',
			list2: [
				{
					img: 'img/item-small.png',
					titl: 'Поставка'
				},
				{
					img: 'img/item-small2.png',
					titl: 'Монтаж'
				}
			],
			fonsmr: false,
			fonsml: true,
			title: 'Спутниковое оборудование',
			name: 'five'
		},
		{	
			data: '1',
			list2: [
				{
					img: 'img/item-small.png',
					titl: 'Поставка'
				}
			],
			title: 'Тревожная кнопка',
			name: 'six'
		}
	]
	%}
	<!-- begin popap-circle -->
	{% for item in list %}
	<div class="popap-circle" data-circle="" data-popap="{{item.name}}">
	<div class="popap-circle__wrap">
		<div class="popap-circle__in">
			<div class="popap-circle__circle">
				<div class="popap-circle__photo">
					<img src="img/item-2.png" alt=""></div>
				<div class="popap-circle__title">{{item.title}}</div>
				<div class="popap-circle__back">
					<a href="#" class="back js-back-popap">
						<span class="back__icon">
							<img src="img/back.png" alt="back">
						</span>
					</a>
				</div>
				<div class="popap-circle__bg"></div>
				<div class="popap-circle__img"></div>
				<div class="popap-circle__info">
					<div class="popap-circle__descr">
						<p>
							Система для компаний, занимающихся дистрибуцией. Может быть использована как для оснащения транспортных средств, так и для оснащения персонала. В зависимости от специфики компании выбирается наиболее рациональный комплект оборудования, который может включать: бортовой блок, смартфон, персональный трекер.
						</p>
					</div>
					<div class="popap-circle__button">
						<a href="#" class="btn">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="popap-circle__fon-left">
				<img src="img/linel.png" alt="">
			</div>
			<div class="popap-circle__fon-sm">
				<img src="./img/small-left-line.svg" alt="">
			</div>
			<div class="popap-circle__list">
				{% for item in item.list2 %}
				<a href="#" class="popap-circle__item">
					<div class="popap-circle__icon">
						<img src="{{item.img}}" alt=""></div>
					<div class="popap-circle__text">{{item.titl}}</div>
				</a>
				{% endfor %}
			</div>
			<div class="popap-circle__fon-right">
				<img src="img/linel.png" alt="">
			</div>
			<div class="popap-circle__fon-sm-r">
				<img src="./img/svgo/small-right-line.svg" alt="">
			</div>
		</div>
	</div>
		
	</div>
	{% endfor %}
	<!-- end popap-circle -->

