<!-- begin promo-content -->
<div class="promo-content">
	<div class="promo-content__wrap wrap">
		<div class="promo-content__row promo-content_mod-left">
			<div class="promo-content__photos">
				<div class="promo-content__photo promo-content__photo_marr">
					<img src="img/tamozennye-uslugi.png" alt=""></div>
				<div class="promo-content__text">
					<div class="promo-content__title">
						<h3 class="h3">
							ГЛОСАВ осуществляет поставку мониторингового оборудования для филиала ОАО «Федеральная сетевая компания» МЭС Центра.
						</h3>
					</div>
					<div class="promo-content__descr">
						<p>
							Компания ГЛОСАВ признана победителем тендера на поставку и установку систем мониторинга транспорта с использованием оборудования ГЛОНАСС/GPS для филиала ОАО «Федеральная сетевая компания»(ФСК ЕЭС) «Магистральные электрические сети Центра»(МЭС Центра). Мониторинговое оборудование будет установлено на 890 транспортных средств в филиалах(ПМЭС) входящих В зону ответственности МЭС Центра: Валдайское, Верхне-Донское, Волго-Донское, Волго-Окское, Вологодское, Московское, Приокское и Черноземное.
						</p>
					</div>
					<div class="promo-content__button">
						<a href="#" class="btn btn_darken">Подробнее</a>
					</div>
				</div>
			</div>
		</div>
		<div class="promo-content__row promo-content_mod-right">
			<div class="promo-content__photos">
				<div class="promo-content__text promo-content__text_marr">
					<div class="promo-content__title">
						<h3 class="h3">
							ГЛОСАВ осуществляет поставку мониторингового оборудования для филиала ОАО «Федеральная сетевая компания» МЭС Центра.
						</h3>
					</div>
					<div class="promo-content__descr">
						<p>
							Компания ГЛОСАВ признана победителем тендера на поставку и установку систем мониторинга транспорта с использованием оборудования ГЛОНАСС/GPS для филиала ОАО «Федеральная сетевая компания»(ФСК ЕЭС) «Магистральные электрические сети Центра»(МЭС Центра). Мониторинговое оборудование будет установлено на 890 транспортных средств в филиалах(ПМЭС) входящих В зону ответственности МЭС Центра: Валдайское, Верхне-Донское, Волго-Донское, Волго-Окское, Вологодское, Московское, Приокское и Черноземное.
						</p>
					</div>
					<div class="promo-content__button">
						<a href="#" class="btn btn_darken">Подробнее</a>
					</div>
				</div>
				<div class="promo-content__photo">
					<img src="img/promo2.png" alt=""></div>
			</div>
		</div>
		<div class="promo-content__row promo-content_mod-left">
			<div class="promo-content__photos">
				<div class="promo-content__photo promo-content__photo_marr">
					<img src="img/iveco-gruzovik.png" alt=""></div>
				<div class="promo-content__text">
					<div class="promo-content__title">
						<h3 class="h3">МЭС Центра» под максимальной защитой</h3>
					</div>
					<div class="promo-content__descr">
						<p>
							Как уточнил руководитель проекта (со стороны ГЛОСАВ) Юрий Никишин: «Ранее нами уже сообщалось, что «МЭС Центра» - дочерняя компания ОАО «ФСК ЕЭС», выбрала ГЛОСАВ в качестве поставщика навигационных комплексов ГЛОНАСС/GPS, дополнительного оборудования и специализированного программного обеспечения, подведя результаты конкурса. Сейчас мы закончили поставку и монтаж 892 комплектов навигационного и специализированного дополнительного оборудования, которое позволило нашему Клиенту защитить свои интересы, обеспечить контроль за автомобилями и специальной техникой предприятий межрегиональных электрических сетей «МЭС Центра».
						</p>
					</div>
					<div class="promo-content__button">
						<a href="#" class="btn btn_darken">Подробнее</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="promo-content__row">
		<div class="promo-content__wrap-video">
			<div class="promo-content__video" style="background-image: url(img/video.png)">
				<!-- <img src="img/video.png" alt="">
				-->
				<div class="promo-content__play">
					<img src="img/play.png" alt="play"></div>
			</div>
		</div>
	</div>
	<div class="promo-content__wrap wrap">
		<div class="promo-content__row promo-content_mod-left">
			<div class="promo-content__photos">
				<div class="promo-content__photo promo-content__photo_marr">
					<img src="img/img_collection.png" alt=""></div>
				<div class="promo-content__text">
					<div class="promo-content__title">
						<h3 class="h3">
							ГЛОСАВ осуществляет поставку мониторингового оборудования для филиала ОАО «Федеральная сетевая компания» МЭС Центра.
						</h3>

					</div>
					<div class="promo-content__descr">
						<p>
							Компания ГЛОСАВ признана победителем тендера на поставку и установку систем мониторинга транспорта с использованием оборудования ГЛОНАСС/GPS для филиала ОАО «Федеральная сетевая компания»(ФСК ЕЭС) «Магистральные электрические сети Центра»(МЭС Центра). Мониторинговое оборудование будет установлено на 890 транспортных средств в филиалах(ПМЭС) входящих В зону ответственности МЭС Центра: Валдайское, Верхне-Донское, Волго-Донское, Волго-Окское, Вологодское, Московское, Приокское и Черноземное.
						</p>

					</div>
					<div class="promo-content__button">
						<a href="#" class="btn btn_darken">Подробнее</a>
					</div>
				</div>
			</div>
		</div>
		<div class="promo-content__row promo-content_mod-left">
			<div class="promo-content__photos promo-content__photos_mb">
				<div class="promo-content__text promo-content__text_marr">
					<div class="promo-content__title">
						<h3 class="h3">"ГЛОСАВ" стал официальным партнером  компании Huawei</h3>
					</div>
					<div class="promo-content__descr">
						<p>
							Компания ГЛОСАВ признана победителем тендера на поставку и установку систем мониторинга транспорта с использованием оборудования ГЛОНАСС/GPS для филиала ОАО «Федеральная сетевая компания»(ФСК ЕЭС) «Магистральные электрические сети Центра»(МЭС Центра). Мониторинговое оборудование будет установлено на 890 транспортных средств в филиалах(ПМЭС) входящих В зону ответственности МЭС Центра: Валдайское, Верхне-Донское, Волго-Донское, Волго-Окское, Вологодское, Московское, Приокское и Черноземное.
						</p>
					</div>
					<div class="promo-content__button">
						<a href="#" class="btn btn_darken">Подробнее</a>
					</div>
				</div>

				<div class="promo-content__photo">
					<img src="img/home-range-500.png" alt=""></div>
			</div>
		</div>
	</div>
</div>
<!-- end promo-content -->