<div class="slider-wrapp">
	<div class="slider">
		<div class="slider__switch switch">
			<div class="switch__title-from">Потяните</div>
			<div class="switch__switcher switcher js-switcher"></div> 
			<div class="switch__title-to">для просмотра</div>
		</div>
		<div class="slider__slides js-slider">
			<div class="slider__slide">
				<div class="hero js-hero" data-popap-triger="first">
					<div class="hero__img">
						<div class="hero__icon">
							<img src="img/item-1.png" alt="slide">
						</div>
						</div>
					<div class="hero__title">Мониторинг и тахография</div>
				</div>
			</div>
			<div class="slider__slide">
				<div class="hero js-hero" data-popap-triger="second">
					<div class="hero__img">
						<div class="hero__icon">
							<img src="img/item-2.png" alt="slide">
						</div>
					</div>
					<div class="hero__title">Разработка по</div>
				</div>
			</div>
			<div class="slider__slide">
				<div class="hero js-hero" data-popap-triger="three">
					<div class="hero__img">
						<div class="hero__icon">
							<img src="img/item-2.png" alt="slide">
						</div>
						</div>
					<div class="hero__title">Системная Интеграция</div>
				</div>
			</div>
			<div class="slider__slide">
				<div class="hero js-hero" data-popap-triger="four">
					<div class="hero__img">
						<div class="hero__icon">
							<img src="img/item-2.png" alt="slide">
						</div>
					</div>
					<div class="hero__title">Технологии</div>
				</div>
			</div>

			<div class="slider__slide">
				<div class="hero js-hero" data-popap-triger="five">
					<div class="hero__img">
						<div class="hero__icon">
							<img src="img/item-1.png" alt="slide">
						</div>
					</div>
					<div class="hero__title">Мониторинг и тахография</div>
				</div>
			</div>
			<div class="slider__slide">
				<div class="hero js-hero" data-popap-triger="six">
					<div class="hero__img">
						<div class="hero__icon">
							<img src="img/item-2.png" alt="slide">
						</div>
					</div>
					<div class="hero__title">Разработка по</div>
				</div>
			</div>
			<div class="slider__slide">
				<div class="hero js-hero" data-popap-triger="six">
					<div class="hero__img">
						<div class="hero__icon">
							<img src="img/item-2.png" alt="slide">
						</div>
					</div>
					<div class="hero__title">Системная Интеграция</div>
				</div>
			</div>
			<div class="slider__slide">
				<div class="hero js-hero" data-popap-triger="six">
					<div class="hero__img">
						<div class="hero__icon">
							<img src="img/item-2.png" alt="slide">
						</div>
					</div>
					<div class="hero__title">Технологии</div>
				</div>
			</div>
		</div>
	</div>
</div>
