<!-- begin text -->
<div class="text">
	<div class="text__wrap">
		<div class="text__content">
			<h3>
				ГЛОСАВ осуществляет поставку оборудования для филиала ОАО «Федеральная сетевая компания»
			</h3>
			<img src="img/tamozennye-uslugi.png" alt="photo">
			<p>
				Компания ГЛОСАВ признана победителем тендера на поставку и установку систем мониторинга транспорта с использованием оборудования ГЛОНАСС/GPS для филиала ОАО «Федеральная сетевая компания»(ФСК ЕЭС) «Магистральные электрические сети Центра»(МЭС Центра). Мониторинговое оборудование будет установлено на 890 транспортных средств в филиалах(ПМЭС) входящих В зону ответственности МЭС Центра: Валдайское, Верхне-Донское, Волго-Донское, Волго-Окское, Вологодское, Московское, Приокское и Черноземное.
			</p>
			<span>Каждое транспортное средство будет оборудовано:</span>
			<ul>
				<li>полным навигационным комплексом ГЛОНАСС/GPS</li>
				<li>
					подключением дополнительного блока двусторонней голосовой связи
				</li>
				<li>техподдержкой круглосуточно</li>
				<li>тревожной кнопки информирования о чрезвычайном происшествии.</li>
			</ul>
			<h3>
				Система ГЛОНАСС может помочь
			</h3>
			<p>
				ОАО «Федеральная сетевая компания»(ФСК ЕЭС) входит в перечень системообразующих организаций РФ. ФСК ЕЭС занимает первое место в мире по протяженности линий электропередачи (132,3 тыс. км) и трансформаторной мощности (332,5 тыс. МВА) среди публичных электросетевых компаний. В компании работают более 23 тысяч человек.
			</p>
			<iframe src="https://www.youtube.com/embed/2se9Thz5zyg?ecver=2" width="730px" height="415px" frameborder="0" controlls  allow="autoplay; encrypted-media" allowfullscreen></iframe>
			<p>
				По словам экспертов, глобальные системы навигации можно использовать при осуществлении автоматизированной дозаправки самолетов в воздухе. При этом может осуществляться поиск самолета-заправщика тем лайнерам, которые нуждаются в дозаправке, выход в эшелон, а также сближение самолетов. Использование технологий ГЛОНАСС поможет своевременно реагировать на экстренные ситуации, в которых требуется срочная дозаправка самолетов.
			</p>
			<blockquote>
				Напомним, что Huawei Technologies Co. Ltd.  одна из крупнейших китайских компаний в сфере телекоммуникаций. Основана Жэнем Чжэнфэем в 1987 году. Основным видом деятельности является производство и продажа оборудования беспроводных сетей, сетевых устройств, приложений и аппаратного обеспечения для мобильной связи.
			</blockquote>
			<p>
				На сегодняшний день офисы компании открыты в 11 городах России — Москве, Санкт - Петербурге , Нижнем Новгороде , Самаре, Казани, Уфе, Ростове-на-Дону, Краснодаре, Екатеринбурге, Новосибирске, Владивостоке. Компания принимает активное участие в работе крупнейших отраслевых ассоциаций, в конференциях и отраслевых выставках на территории стран СНГ. Активно работает российский Научно-исследовательский центр компании Huawei.
			</p>
		</div>
	</div>
</div>
<!-- end text -->