<!--begin video -->
<div class="video">
		<div class="video__in">
			<div class="video__wrapp">
				<div class="video__video">
					<iframe class="js-if" src="" width="1046" height="590" frameborder="0" controlls  allow="autoplay; encrypted-media" allowfullscreen></iframe>
					<!-- <iframe class="js-if" src="" width="1046" height="590" frameborder="0" controlls  allow="autoplay; encrypted-media" allowfullscreen></iframe> -->

				</div>
				<div class="video__pause-play">
					<div class="video__pause-play-icon"></div>
				</div>
			</div>
			<div class="video__button-close">
				<a href="#" class="back js-back-video">
					<div class="back__icon">
						<img src="img/back.png" alt="back">
					</div>
				</a>
			</div>
	</div>
</div>
<!-- end video -->