<!--begin video -->
<div class="video">
	<div class="video__wrapp">
		<div class="video__video">
			<iframe src="https://www.youtube.com/embed/2se9Thz5zyg?ecver=2" width="640" height="360" frameborder="0" controlls  allow="autoplay; encrypted-media" allowfullscreen></iframe>

		</div>
		<div class="video__pause-play">
			<div class="video__pause-play-icon"></div>
		</div>
	</div>
	<div class="video__button-close">
		<a class="back js-back-video">
			<span class="back__line-top"></span>
			<span class="back__line-bottom"></span>
		</a>
	</div>
</div>
<!-- end video -->