<!-- begin vnedrenie-content -->
<div class="vnedrenie-content">
	<div class="vnedrenie-content__wrap">
		<div class="vnedrenie-content__main">
			<div class="vnedrenie-content__list">
				<h3 class="h3">Какие задачи стояли</h3>
				<ul>
					<li>Минимизация рисков банка</li>
					<li>Повышение безопасности перевозок инкассаторов</li>
					<li>Оптимизация работы транспортного парка</li>
					<li>Информирование о тревожных событиях</li>
					<li>Контроль местоположения предмета собственности</li>
				</ul>
				<h3 class="h3">Какие работы были выполнены</h3>
				<ul>
					<li>Анализ рисков банка</li>
					<li>Повышена безопасности перевозок</li>
					<li>Оптимизация работы транспортного парка</li>
					<li>Информирование о тревожных событиях</li>
					<li>Контроль местоположения предмета</li>
					<li>Обеспечение информационной поддержки</li>
				</ul>
				<h3 class="h3">Какой результат был получен</h3>
				<p>
					Мы помогли нашему Клиенту разобраться в технических вопросах и выработали решения, благодаря которым более 40 производственных задач компании-заказчика были решены или поставлены на автоматизированный оперативный контроль.
				</p>
			</div>
			<div class="vnedrenie-content__descr">
				<div class="vnedrenie-content__img">
					<div class="logo-bank">
						<img src="img/Bank.png" alt=""></div>
				</div>
				<h3 class="h3">Описание внедрения</h3>
				<p>
					На портрете была изображена дама в меховой шляпе и боа, она сидела очень прямо и протягивала зрителю тяжелую меховую муфту, в которой целиком исчезала ее рука. Затем взгляд Грегора устремился в окно, и пасмурная погода – слышно было, как по жести подоконника стучат капли дождя – привела его и вовсе в грустное настроение. «Хорошо бы еще немного поспать и забыть всю эту чепуху», – подумал он, но это было совершенно неосуществимо, он привык спать на правом боку, а в теперешнем своем состоянии он никак не мог принять этого положения.
				</p>
				<p>
					Закрыв глаза, чтобы не видеть своих барахтающихся ног, он проделал это добрую сотню раз и отказался от этих попыток только тогда, когда почувствовал какую-то неведомую дотоле, тупую и слабую боль в боку.
				</p>
				<p>
					Изо дня в день в разъездах. Деловых волнений куда больше, чем на месте, в торговом доме, а кроме того, изволь терпеть тяготы дороги, думай о расписании поездов, мирись с плохим, нерегулярным питанием, завязывай со все новыми и новыми людьми недолгие, никогда не бывающие сердечными отношения.
				</p>
				<a href="#">
					<img src="img/arrow-yellow.png" alt="arrow">
					<span>Вернуться назад</span>
				</a>
			</div>
		</div>
	</div>
	<div class="vnedrenie-content__slider slider-vnedrenie">
		<!-- <div class="slider-vnedrenie__inner">
		-->
		<div class="slider-vnedrenie__wrap wrap">
			<div class="slider-vnedrenie__title">
				<h3 class="h3">Продукты</h3>
			</div>
			<div class="slider-vnedrenie__prev"></div>
			<div class="slider-vnedrenie__next"></div>
			<div class="slider-vnedrenie__slides js-slider-vnedrenie">
				<div class="slider-vnedrenie__slide">
					<div class="item">
						<div class="item__img">
							<img src="img/slider-vnedrenie1.png" alt=""></div>
						<div class="item__title">
							<h4 class="h4">Тревожная кнопка</h4>
						</div>
					</div>
				</div>
				<div class="slider-vnedrenie__slide">
					<div class="item">
						<div class="item__img">
							<img src="img/slider-vnedrenie2.png" alt=""></div>
						<div class="item__title">
							<h4 class="h4">Спутниковое оборудование</h4>
						</div>
					</div>
				</div>
				<div class="slider-vnedrenie__slide">
					<div class="item">
						<div class="item__img">
							<img src="img/slider-vnedrenie3.png" alt=""></div>
						<div class="item__title">
							<h4 class="h4">Видеорегистратор</h4>
						</div>
					</div>
				</div>
				<div class="slider-vnedrenie__slide">
					<div class="item">
						<div class="item__img">
							<img src="img/slider-vnedrenie4.png" alt=""></div>
						<div class="item__title">
							<h4 class="h4">Устройство «ГЛОСАВ-МАРКЕР»</h4>
						</div>
					</div>
				</div>
				<div class="slider-vnedrenie__slide">
					<div class="item">
						<div class="item__img">
							<img src="img/slider-vnedrenie5.png" alt=""></div>
						<div class="item__title">
							<h4 class="h4">Бесконтактный считыватель</h4>
						</div>
					</div>
				</div>
				<div class="slider-vnedrenie__slide">
					<div class="item">
						<div class="item__img">
							<img src="img/Layer-12.png" alt=""></div>
						<div class="item__title">
							<h4 class="h4">Перевозки для компании Global Oil Trands</h4>
						</div>
					</div>
				</div>
				<div class="slider-vnedrenie__slide">
					<div class="item">
						<div class="item__img">
							<img src="img/Layer-12.png" alt=""></div>
						<div class="item__title">
							<h4 class="h4">Перевозки для компании Global Oil Trands</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- </div>-->
</div>
<!-- end vnedrenie-content -->