.icon-1280px-Gazprom-Logo-rus {
  width: 2.1em;
  height: 1em;
  fill: initial;
}
.icon-2000px-Dell_Logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-alfabank {
  width: 3.41em;
  height: 1em;
  fill: initial;
}
.icon-apple_logo_PNG19682 {
  width: 0.82em;
  height: 1em;
  fill: initial;
}
.icon-arrow-bottom {
  width: 1.77em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-glosav-logo {
  width: 3.1em;
  height: 1em;
  fill: initial;
}
.icon-googlelogo_color_120x44dp {
  width: 3.05em;
  height: 1em;
  fill: initial;
}
.icon-intel {
  width: 1.5em;
  height: 1em;
  fill: initial;
}
.icon-latest {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-left-line {
  width: 0.15em;
  height: 1em;
  fill: green;
}
.icon-logo-mob {
  width: 3.15em;
  height: 1em;
  fill: initial;
}
.icon-logo-skb-bank {
  width: 4.29em;
  height: 1em;
  fill: initial;
}
.icon-mail {
  width: 1.36em;
  height: 1em;
  fill: initial;
}
.icon-map {
  width: 0.82em;
  height: 1em;
  fill: initial;
}
.icon-MTS_logo_color_ru {
  width: 2.77em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-right-line {
  width: 0.15em;
  height: 1em;
  fill: none;
}
.icon-sber_logo {
  width: 4.59em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 0.96em;
  height: 1em;
  fill: initial;
}
.icon-Vector Smart Object copy {
  width: 3.15em;
  height: 1em;
  fill: initial;
}
